<!DOCTYPE html>
<html>
  <head>
    <title>GUC BOOKS</title>
  </head>
  <body>
    <h1>GUC BOOKS</h1>
    <h2>Welcome to GUC BOOKS</h2>
    <form method="POST">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
  </body>
</html>
