<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        div{
            color:white
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Search Results</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div>
        
        <div id="Dune">
        <img id="image" src="/dune.jpg" width="193" height="300">
        <button onclick="location.href = '/dune';" id="dune" class="btn btn-secondary ml-3"> View </button>
    </div>
    <div id="Lord of the Flies">
        <img id="image" src="/flies.jpg" width="193" height="300">
        <button onclick="location.href = '/flies';" id="flies" class="btn btn-secondary ml-3"> View </button>
    </div>
    <div id="The Grapes of Wrath">
        <img id="image" src="/grapes.jpg" width="193" height="300">
        <button onclick="location.href = '/grapes';" id="grapes" class="btn btn-secondary ml-3"> View </button>
    </div>
    <div id="Leaves of Grass">
        <img id="image" src="/leaves.jpg" width="193" height="300">
        <button onclick="location.href = '/leaves';" id="leaves" class="btn btn-secondary ml-3"> View </button>
    </div>
    <div id="To Kill a Mockingbird">
        <img id="image" src="/mockingbird.jpg" width="193" height="300">
        <button onclick="location.href = '/mockingbird';" id="mockingbird" class="btn btn-secondary ml-3"> View </button>
    </div>
    <div id="The Sun and Her Flowers">
        <img id="image" src="/sun.jpg" width="193" height="300">
        <button onclick="location.href = '/sun';" id="sun" class="btn btn-secondary ml-3"> View </button>
    </div>
    
    <div id= no> <%=f%>  </div>  
   

    </div>
</body>
</html>

<script>
    document.getElementById("Dune").style.display="none"
    document.getElementById("The Sun and Her Flowers").style.display="none"
    document.getElementById("To Kill a Mockingbird").style.display="none"
    document.getElementById("Leaves of Grass").style.display="none"
    document.getElementById("The Grapes of Wrath").style.display="none"
    document.getElementById("Lord of the Flies").style.display="none"
    var x = "<%=f%>"
        var d = x.split(",")
        for (let index = 0; index < d.length; index++) {
           document.getElementById(d[index]).style.display="block"
   
       }
</script>